body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.top-bar {
  background-color: #ffffff;
  color: #636c6f;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
  margin-right: 20px; /* Tilføjer plads mellem logo og titel */
}

.title-and-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 24px;
  flex-grow: 1; /* Sørger for at titlen udvider sig og skubber brugerinfo til højre */
}

.user-info {
  font-size: 16px;
  display: flex;
  align-items: center; /* Centrerer teksten og billedet vertikalt */
}

.user-info img {
  border-radius: 50%; /* Gør billedet rundt */
  width: 50px; /* Sæt en fast størrelse for billedet */
  height: 50px; /* Sæt en fast størrelse for billedet */
  margin-left: 10px; /* Tilføjer plads mellem navnet og billedet */
}

.container {
  display: flex;
  height: calc(100% - 50px);
}

#rapportKnapOverskrift {
  font: bolder 16px Arial;
  cursor: default;
}

#rapportKnapOverskrift:hover {
  background-color: initial; /* Resets any background changes on hover */
  color: white; /* Keeps the text color the same on hover */
  cursor: default;
}

.sidebar {
  background-color: #487d83; /* Dark teal */
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  height: 100%; /* Ensures it takes full height */
}

.menu-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allows this group to expand and push the buttons at the bottom */
}

.bottom-buttons {
  margin-top: auto; /* Pushes the buttons to the bottom */
  display: flex;
  flex-direction: column;
  padding-bottom: 30px; /* Adds space below the buttons */
}

.menu-button {
  background: none;
  border: none;
  color: white;
  padding: 10px;
  margin: 5px 0;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
}

.menu-button:hover {
  background-color: #56959c; /* Slightly darker teal for hover effect */
}

/* Main content and overall layout styling */
.main-content {
  flex: 1;
  padding: 40px; /* Provides ample space around the content */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content for better visual appeal */
  width: 100%;
  max-width: none; /* Allows content to expand as needed */
}

/* Styling for selector containers */
.selectors {
  width: 100%; /* Full width to align with the page layout */
  display: flex;
  justify-content: space-between; /* Distributes selectors evenly across the available space */
  margin-bottom: 40px; /* Adds space below the selector area */
}

/* Individual selector styling */
.selectors div {
  flex: 1; /* Each selector takes equal space */
  margin: 0 10px; /* Adds horizontal spacing between selectors */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px; /* Rounded corners for a modern look */
}

/* Styling for dropdown elements */
select,
label {
  width: 100%; /* Full width to utilize the container space */
  font-size: 20px; /* Larger font for easier readability */
  margin-bottom: 20px; /* Space below each dropdown for clean separation */
}

.main-content .selectors div {
  flex: 1;
  margin: 0 10px;
  border: none; /* Remove border */
  background-color: transparent; /* Remove background color */
  padding: 0; /* Remove padding */
  font-size: 16px; /* Decrease font size */
  color: #677074; /* Set text color */
  cursor: pointer;
}

.main-content .selectors div:hover {
  color: #487d83; /* Change text color on hover */
}
.main-content select {
  appearance: none; /* Remove default select arrow */
  background-color: #ffffff; /* White background */
  border: 1px solid white; /* Subtle border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Adjust padding for better appearance */
  font-size: 16px; /* Decrease font size */
  color: #636c6f; /* Set text color */
  cursor: pointer; /* Show pointer cursor on hover */
}

.medication-info {
  font-size: 18px; /* Larger font size for better readability */
  color: #333; /* Darker text for better contrast */
  background-color: #f8f9fa; /* Light background to make it stand out */
  border-left: 5px solid #487d83; /* Accent border to the left */
  padding: 10px 20px; /* Padding for a better layout */
  margin-bottom: 10px; /* Space between entries */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
